// bower:scss
// endbower
body {
    background: #fafafa;
    font-size: 12px;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    color: #333;
    a {
        text-decoration: none
    }
}

.header {
    width: 100%;
    height: 49px;
    margin: 0, auto;
    background-color: #2c3145
}

.navEnglish {
    width: 700px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 25%;
    ul {
        list-style-type: none;
        margin: 5px auto;
        li {
            display: inline;
            margin: 0px 10px;
            a {
                 font-size: 9px;
                color: #ffffff;
            }
        }
    }
}

.nav {
    width: 700px;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 25%;
    ul {
        list-style-type: none;
        margin: 6px auto;
        li {
            display: inline;
            margin: 0px 22px;
            a {
                color: #eec270;
            }
        }
    }
}

#logo{
    margin: 80px auto 0px auto;
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;
    background-image:url('../images/logo.png')
}

#logo-text{
    margin: 22px auto 0px auto;
    position: absolute;
    width:100%;
    height: 2em;
    color:rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 10px
}

.timeline{
    position: relative;
    margin: 195px auto 0px auto;
    height: 1.5px;
    background-color:rgba(255, 255, 255,0.3)
}

.stage{
    position: absolute;
    top: -2px;
    width: 24px;
    height: 2.5px;
    background-color: rgba(255, 255, 255,1)
}

#stage1{
    
    left: 20%
}

#stage2{
    
    left: 38%
}

#stage3{
    
    left: 56%
}

#stage4{
  
    left: 72%
}

.stage-text{
    position: absolute;
    top: -25px;
    width: 100px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.8px
}

.stage-text-bottom{
    position: absolute;
    top: 20px;
    width: 160px;
    color: rgba(255,255,255,1);
    font-size: 0.8em;
    font-weight:lighter;
    letter-spacing: 2px;
    line-height: 1.8em;
}


.recount1{
    position: absolute;
    margin:203px auto;
    width: 100%;
    height: 313px;
    background-color: rgba(255,255,196,0.5);
}

.decs{
    position: absolute;
    top: 30px;
    left: 17%;
    width: 33%;
    background-color: red;
}

.title{
    font-size: 1.5em;
    font-weight:bold;
    line-height:0.5em
}

.sub-title{
    color:rgba(255,204,102,1);
    line-height:0em
}

.left-text{
    letter-spacing:1.5px;
    line-height:2em
}

.button{
    width:68px;
    border: 1px solid #000;
    text-align:center;
    font-size: 0.9em
}

.decs-image{
    position: absolute;
    top: 30px;
    margin-left: 60%;
    width: 33%;
    height: 187px;
    background-color: blue;
}

.clear{
    clear: both;
}
