.container {
    margin: 0px auto;
    width: 400%;
    height: 630px;
    position: relative;
    border-color: #fff;
    background-color: #f5f5f5;
}

#container, .section {
    height: 630px;
    position: relative;
}

#section0, #section1, #section2, #section3 {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
}

#section0 {
    background-image: url(../images/banner1.jpg);
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

#section1 {
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: url(../images/banner2.jpg);
}

#section2 {
    background-image: url(../images/banner3.jpg);
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

#section3 {
    color: #008283;
    background-image: url(../images/banner1.jpg);
    text-shadow: 1px 1px 1px #fff;
}

.left {
    float: left;
}


#pages {
    position: fixed;
    right: 10px;
    top: 50%;
    list-style: none;
}

#pages li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 0 0 10px 5px;
}

#pages li.active {
    width: 14px;
    height: 14px;
    border: 2px solid #FFFE00;
    background: none;
    margin-left: 0;
}
